html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: gray;
}

#photos {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

}
.photodiv {
	box-sizing: border-box;
    width: 33%;
    height: auto;
    padding: 1%;
}

div.photodiv > img {
	width: 100%;
	height: auto;
}

#photodetail {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    /*width: 90vw;*/
    margin: auto;
    position: relative;
}

#photodetail .content {
    max-height: 90vh;
    overflow: hidden;
    flex: 1 100%;
    background-color: green;
}

#photodetail .button {
    flex: 1 auto;
    height: 50px;
    padding: 10px;
}

#photodetail .backward {
    order: 2;
    background-color: red;
}

#photodetail .forward {
    order: 3;
    background-color: orange;
    text-align: right;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    height: 50px;
    background-color: darkblue;
    color: white;
    font-size: 2em;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    flex-flow: row wrap;
}

#header > .right-menu {
    width: 50px;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}

#header > .title {
    padding: 10px;
}

#header > .left-menu {
    width: 50px;
    padding-top: 10px;
    padding-left: 20px;
}