html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: gray;
}

#photos {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

}
.photodiv {
	box-sizing: border-box;
    width: 33%;
    height: auto;
    padding: 1px;
    line-height: 0px;
}

div.photodiv > img {
	width: 100%;
	height: auto;
    cursor: pointer;
}

.dragend-page {
    height: 100% !important;
}

div.content > div > ul {
    margin: 0px !important;
}

#photodetail .content {
    max-height: 100vh;
    overflow: hidden;
    background-color: green;
}

#photodetail .content img {
    width: 100%;
}

#photodetail .footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#photodetail .button {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding: 32px;
    font-size: 40px;
    opacity: .50;
    /*http://www.colorzilla.com/gradient-editor/*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    color: white;
}

#photodetail .backward {
    /*background-color: #ddd;*/
    width: 40%;
    color: white;
    opacity: 1;
}

#photodetail .share {
    text-align: center;
    /*background-color: #ddd;*/
    width: 20%;
    color: white;
    opacity: 1;
}

#photodetail .forward {
 /*   background-color: #ddd;*/
    text-align: right;
    width: 40%;
    color: white;
    opacity: 1;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    height: 50px;
    background-color: rgba(0, 0, 139, 0.17);;
    color: white;
    font-size: 1.5em;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    flex-flow: row wrap;
}

#header > .right-menu {
    width: 50px;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}

#header > .title {
    padding: 10px;
}

#header > .left-menu {
    width: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

#header a:visited {
    color: white;
}