	#photos {
	    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	    display: -ms-flexbox;  /* TWEENER - IE 10 */
	    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;

	    background-color: gray;
	}
	.photodiv {
		box-sizing: border-box;
	    width: 33%;
	    height: auto;
	    padding: 1%;
	}

	div.photodiv > img {
		width: 100%;
		height: auto;
	}